layout {
    tab hide_floating_panes=true {
        pane stacked=true {
            filepicker
            editor expanded=true
            lazygit
        }
        compact_bar size=1
    }

    // TEMPLATES
    pane_template name="lazygit" start_suspended=true {
        command "lazygit"
    }

    pane_template name="filepicker" {
        command "zide-pick"
    }

    pane_template name="editor" {
        command "$EDITOR"
    }

    pane_template name="compact_bar" {
        borderless true
        plugin location="compact-bar"
    }

    new_tab_template {
        pane
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
    }
}
